<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.QlQuanAnConnectionString"
            connectionString="Data Source=DESKTOP-JTT45BA;Initial Catalog=QlQuanAn;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>