<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CNPM_QuanLyQuanAn.Properties.Settings.QlQuanAnConnectionString"
            connectionString="Data Source=DESKTOP-IBPH0AP;Initial Catalog=QlQuanAn;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="CNPM_QuanLyQuanAn.Properties.Settings.QlQuanAnConnectionString1"
            connectionString="Data Source=DESKTOP-JTT45BA;Initial Catalog=QlQuanAn;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="CNPM_QuanLyQuanAn.Properties.Settings.QlQuanAnConnectionString2"
            connectionString="Data Source=DESKTOP-1EGA6CT;Initial Catalog=QlQuanAn;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
